[submodule "vim/vim/bundle/matchit"]
  path = vim/vim/bundle/matchit
  url = https://github.com/tmhedberg/matchit.git
  ignore = dirty
[submodule "vim/vim/bundle/MatchTag"]
  path = vim/vim/bundle/MatchTag
  url = https://github.com/gregsexton/MatchTag.git
  ignore = dirty
[submodule "vim/vim/bundle/closetag.vim"]
  path = vim/vim/bundle/closetag.vim
  url = https://github.com/vim-scripts/closetag.vim.git
  ignore = dirty
[submodule "vim/vim/bundle/nerdtree"]
  path = vim/vim/bundle/nerdtree
  url = https://github.com/scrooloose/nerdtree.git
  ignore = dirty
[submodule "vim/vim/bundle/nerdcommenter"]
  path = vim/vim/bundle/nerdcommenter
  url = https://github.com/scrooloose/nerdcommenter.git
  ignore = dirty
[submodule "vim/vim/bundle/vim-snipmate"]
  path = vim/vim/bundle/vim-snipmate
  url = https://github.com/garbas/vim-snipmate.git
  ignore = dirty
[submodule "vim/vim/bundle/tlib_vim"]
  path = vim/vim/bundle/tlib_vim
  url = https://github.com/tomtom/tlib_vim.git
  ignore = dirty
[submodule "vim/vim/bundle/vim-addon-mw-utils"]
  path = vim/vim/bundle/vim-addon-mw-utils
  url = https://github.com/MarcWeber/vim-addon-mw-utils.git
  ignore = dirty
[submodule "vim/vim/bundle/snipmate-snippets"]
  path = vim/vim/bundle/snipmate-snippets
  url = https://github.com/honza/snipmate-snippets.git
  ignore = dirty
[submodule "vim/vim/bundle/titanium-vim"]
  path = vim/vim/bundle/titanium-vim
  url = https://github.com/pekepeke/titanium-vim.git
  ignore = dirty
[submodule "vim/vim/bundle/syntastic"]
  path = vim/vim/bundle/syntastic
  url = https://github.com/scrooloose/syntastic.git
  ignore = dirty
[submodule "vim/vim/bundle/vim-powerline"]
  path = vim/vim/bundle/vim-powerline
  url = https://github.com/Lokaltog/vim-powerline.git
  ignore = dirty
[submodule "vim/vim/bundle/ctrlp.vim"]
  path = vim/vim/bundle/ctrlp.vim
  url = https://github.com/kien/ctrlp.vim.git
  ignore = dirty
[submodule "vim/vim/bundle/vim-coffee-script"]
  path = vim/vim/bundle/vim-coffee-script
  url = https://github.com/kchmck/vim-coffee-script.git
  ignore = dirty
[submodule "vim/vim/bundle/vim-fugitive"]
  path = vim/vim/bundle/vim-fugitive
  url = https://github.com/tpope/vim-fugitive.git
  ignore = dirty
[submodule "vim/vim/bundle/vim-markdown"]
  path = vim/vim/bundle/vim-markdown
  url = https://github.com/tpope/vim-markdown.git
  ignore = dirty
[submodule "vim/vim/bundle/vim-rails"]
  path = vim/vim/bundle/vim-rails
  url = https://github.com/tpope/vim-rails.git
  ignore = dirty
[submodule "vim/vim/bundle/vim-surround"]
  path = vim/vim/bundle/vim-surround
  url = https://github.com/tpope/vim-surround.git
  ignore = dirty
[submodule "vim/vim/bundle/supertab"]
  path = vim/vim/bundle/supertab
  url = https://github.com/ervandew/supertab.git
  ignore = dirty
[submodule "vim/vim/bundle/vim-javascript"]
  path = vim/vim/bundle/vim-javascript
  url = https://github.com/bilalq/vim-javascript.git
  ignore = dirty
[submodule "vim/vim/bundle/DiffSince"]
  path = vim/vim/bundle/DiffSince
  url = https://github.com/bilalq/DiffSince.git
  ignore=dirty
[submodule "vim/vim/bundle/ruby-matchit"]
	path = vim/vim/bundle/ruby-matchit
	url = https://github.com/vim-scripts/ruby-matchit.git
[submodule "vim/vim/bundle/gundo"]
	path = vim/vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "vim/vim/bundle/blade"]
	path = vim/vim/bundle/blade
	url = https://github.com/johnhamelink/blade.vim.git
[submodule "vim/vim/bundle/html_annoyance"]
	path = vim/vim/bundle/html_annoyance
	url = https://github.com/tudorprodan/html_annoyance.vim.git
